<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="only">
    <title>HelloGym New Features</title>
    <style>
        @media (prefers-color-scheme: light) {
            td {
                background-color: #FFFFFF;
            }
        }


        @media (prefers-color-scheme: dark) {
            td {
                background-color: #FFFFFF;
            }
        }

        @media all and (max-width: 600px) {

            .resp {
                width: 97vw !important;
            }

            .resp-padding-1 {
                padding: 50px 20px 0 20px !important;
            }

            .resp-padding-2 {
                padding: 0 20px 50px 20px !important;
            }

            .resp-padding-3 {
                padding: 50px 20px !important;
            }

            h1 {
                font-size: 1.8rem !important;
                line-height: 1.8rem;
            }

            h2 {
                font-size: 1.2rem !important;
                line-height: 1.8rem;
            }

            h4 {
                font-size: 1.2rem !important;
                line-height: 1.3rem;
            }

            a {
                font-size: .9rem;
            }
        }
    </style>
</head>

<body style="background-color: #f4f4f5;
  font: 300 14px/18px 'Lucida Grande', Lucida Sans, Lucida Sans Unicode, sans-serif, Arial, Helvetica, Verdana, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;">
</body>

<table class="resp" cellpadding="0" cellspacing="0" style="
    border:0; border-collapse: separate; width: 600px; margin: 0 auto;margin-top: 20px;">

    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <img src="https://hello-gym-public.s3.amazonaws.com/img/hg-logo.png" alt="HG"/>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="resp-padding"
            style="color: #FFFFFF !important; text-align: center; padding: 50px 50px 10px 50px; border-top-right-radius: 5px; border-top-left-radius: 5px; background-color: #d14f27; max-height: 20px !important;">
            <h1 style="font-size: 2.2rem;">Hello, @@firstName!</h1>
            <h2 style="font-size: 1.5rem;">The wait is over!</h2>
            <p style="font-size: 1rem; line-height: 1.5rem;">We have officially rolled out the new features and
                enhancements
                we shared with you a couple of weeks ago.</p>
        </td>
    </tr>
    <tr>
        <td
                style="background-image: url(https://hello-gym-public.s3.amazonaws.com/img/new-bg-2.png); height: 100px; background-size: cover; background-position: 50% 50%;">
        </td>
    </tr>
    <tr style="background-color: #FFFFFF; ">
        <td class="resp-padding"
            style="color: #555; text-align: center; padding: 0 50px 50px 50px; border-radius: 5px;">
            <h1 style="color: #d14f27; font-size: 2.2rem;">Getting Started Is Easy!</h1>
            <p style="padding-bottom: 4px;">Getting started in 3 simple and fast steps:</p>

            <table style="display: flex;justify-content: center;">
                <tbody style="margin: 0 auto;">
                <tr>
                    <td><p style="margin: 1px;"><b style="color: #d14f27;">1.</b></p></td>
                    <td><p style="margin: 1px;text-align: start;">Reset Your Password</p></td>
                </tr>
                <tr>
                    <td><p style="margin: 1px;"><b style="color: #d14f27;">2.</b></p></td>
                    <td><p style="margin: 1px;text-align: start;">Add Your Staff Users</p></td>
                </tr>
                <tr>
                    <td><p style="margin: 1px;"><b style="color: #d14f27;">3.</b></p></td>
                    <td><p style="margin: 1px;text-align: start;">Confirm Your Account Information</p></td>
                </tr>
                </tbody>
            </table>
            <a href="@@passwordResetTokenLink"
               style="margin: 25px 10% 10px 10%; background-color: #d14f27; box-shadow: none !important; padding: 10px 0; border-radius: 20px; color: #FFFFFF; font-weight: 700; text-decoration: none !important; display: block; font-size: 1.1rem;">
                Click Here To Reset Your Password
            </a>

            <a href="https://info.hellogym.io"
               style="margin: 10px 10%; background-color: #424242; box-shadow: none !important; padding: 10px 0; border-radius: 20px; color: #FFFFFF; font-weight: 700; text-decoration: none !important; display: block; font-size: 1.1rem;">
                Setup Instructions
            </a>

            <a href="https://msgsndr.com/widget/booking/xnV33BccPRRIvbvLC3fC"
               style="margin: 10px 10%; background-color: #278fd1; box-shadow: none !important; padding: 10px 0; border-radius: 20px; color: #FFFFFF; font-weight: 700; text-decoration: none !important; display: block; font-size: 1.1rem;"
               target="_blank">
                Schedule A One-On-One Demo
            </a>

            <h1 style="color: #d14f27; line-height: 2.3rem; margin-top: 50px; font-size: 2rem;">Download The New
                HelloGym Manager Mobile App</h1>

            <table style="width: 100%;">
                <tr style="display: flex;">
                    <td style="display: flex; width: 50%;">
                        <a style="margin-left: auto; margin-right: 5px;" href="@@LinkIOS">
                            <img src="https://hello-gym-public.s3.amazonaws.com/img/app-store.png"/>
                        </a>
                    </td>

                    <td style="display: flex; width: 50%;">
                        <a style="margin-right: auto; margin-left: 5px;" href="@@LinkAndroid">
                            <img src="https://hello-gym-public.s3.amazonaws.com/img/google-play.png"/>
                        </a>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr style="background-color: #FFFFFF;">
        <td class="resp-padding"
            style="border-radius: 5px; text-align: center; padding: 50px 50px 30px 50px; color: #555;">
            <h1 style="color: #d14f27; padding-bottom: 8px;">Here is a recap of what you get:</h1>

            <p style="margin: 8px 0;"><b>New Modern Interface</b></p>
            <p style="margin: 8px 0;"><b>Simplified Navigation</b></p>
            <p style="margin: 8px 0;"><b>Simplified Location Management</b></p>
            <p style="margin: 8px 0;"><b>On-Demand Account Insights</b></p>
            <p style="margin: 8px 0;"><b>Manage Voicemail from Club Phone and Mobile App</b></p>
            <p style="margin: 8px 0;"><b>Ability to schedule Staff Hour Variations from Web and Mobile App</b></p>
            <p style="margin: 8px 0;"><b>New Management Mobile App</b></p>

            <h2 style="color: #d14f27; margin: 50px 0 30px 0">Location Management</h2>
            <img src="https://hello-gym-public.s3.amazonaws.com/img/web-1.png" alt="">
            <p style="line-height: 1.5rem; margin: 20px 40px;">Access and manage location information from a single
                newly designed and user friendly interface.</p>

            <h2 style="color: #d14f27; margin: 50px 0 30px 0">Communications Dashboard</h2>
            <img src="https://hello-gym-public.s3.amazonaws.com/img/web-2.png" alt="">

            <p style="line-height: 1.5rem; margin: 20px 40px;">View all your communications analytics and usage in
                real-time from the new HelloGym Communications Dashboard.</p>

            <h2 style="color: #d14f27; margin: 50px 0 30px 0">Communications Reporting</h2>
            <img src="https://hello-gym-public.s3.amazonaws.com/img/web-3.png" alt="">

            <p style="line-height: 1.5rem; margin: 20px 40px;">Get real-time, in-depth reporting information on all your
                communication channels with HelloGym.</p>

            <h2 style="color: #d14f27; margin: 50px 0 30px 0">Management Mobile App</h2>
            <img src="https://hello-gym-public.s3.amazonaws.com/img/mobile-side-by-side.png" alt="">

            <p style="line-height: 1.5rem; margin: 20px 40px;">Manage staffed hours, variation hours, access and manage
                voicemail.</p>

        </td>
    </tr>
    <tr>
        <td class="resp-padding"
            style="background-color: #d14f27; padding: 50px; color: #FFFFFF; border-radius: 5px; text-align: center;">
            <h1 style="font-size: 2.2rem;">Thank You!</h1>
            <p style="line-height: 1.5rem;">We appreciate your loyalty and look forward to hearing your feedback on
                these great features. If you have any questions or concerns, please don't hesitate to reach out.</p>
            <p style="margin-top: 30px;">
                Sincerely,
            </p>

            <img src="https://hello-gym-public.s3.amazonaws.com/img/hg-team.png" alt="">
        </td>
    </tr>
    <tr>
        <td style="color: #cacaca; text-align: center; padding: 20px 0;">
            <p>© 2021 HelloGym, Inc | All rights reserved.</p>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
</table>

</html>