<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HelloGym New Features</title>
</head>

<body style="background-color: #f4f4f5;
  font: 300 14px/18px 'Lucida Grande', Lucida Sans, Lucida Sans Unicode, sans-serif, Arial, Helvetica, Verdana, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;">
  <table cellpadding="0" cellspacing="0" style="
    border:0; border-collapse: separate; width: 600px; margin: 0 auto;margin-top: 20px;">
    <tr>
      <td style="text-align: center; padding: 80px 0 30px 0;">
        <img src="./imgs/hello-team-logo.png" alt="logo" />
      </td>
    </tr>

    <tr>
      <td
        style="color: #a3a3a3; text-align: center; padding: 50px; border-radius: 3px; background-color: #fff;">
        <h1 style="font-size: 2.1rem; color: #d14f27;">Hi, {{ user.first_name }}!</h1>
        <h2 style="font-size: 2.3rem; color: #555;">Welcome To HelloTeam</h2>
        <p style="font-size: 1rem">Please click the button below to verify your account.</p>

        <a href="{{url}}"
        style="background-color: #44cd91; box-shadow: none !important; padding: 30px 0; border-radius: 4px; color: #fff; font-weight: 700; text-decoration: none !important; display: block; font-size: 1.1rem; width: 75%; margin: 40px auto;">
        VERIFY YOUR ACCOUNT
      </a>

      <p style="font-size: 1rem; line-height: 1.5rem;">If you have any questions, please reach out! Our HelloTeam team members are standing by to support you.</p>

      <p style="font-size: 1rem; line-height: 1.5rem; margin: 30px 0 18px 0;">We're glad to have you on our TEAM!</p>

      <img src="./imgs/signature.png" alt="">

      </td>
    </tr>

    <tr>
      <td style="text-align: center; color: #bdbdbd; padding: 30px 0 50px 0;">
        <p>© 2021 HelloTeam.  <span style="margin: 0 8px;">|</span>  All rights reserved.</p>
      </td>
    </tr>

  </table>
</body>
